:root {
  --clr-ucl-darkblue: #00004b;
  --clr-ucl-blue: #0d3aff;
  --clr-ucl-white: #ffffff;
  --clr-ucl-lightcyan: #5af7dc;
  --clr-ucl-pink: #ff16ff;
  --clr-ucl-grey: #c1c2d5;
  --clr-ucl-text: #30316e;
  --clr-ucl-background: #f1f3f8;

  --clr-3clr-gradient: linear-gradient(
    to left top,
    #ff16ff,
    #c91de1,
    #961cc1,
    #67169e,
    #3b0e7b,
    #2b2584,
    #173589,
    #00418c,
    #0070b6,
    #009ecf,
    #00cbda,
    #5af7dc
  );

  --font-family-primary: "Segoe UI", Arial, sans-serif;

  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--semibold: 500;
  --font-weight--bold: 700;
}

.content-wrapper {
  background-color: var(--clr-ucl-grey);
}

.timeline {
  position: relative;
  width: min(90%, 120.5rem);
  padding: 3em 0;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100% ;
  background-color: white;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.time-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.time-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -12px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  
}

@media (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .time-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .time-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 19px;
  }

  .right {
    left: 0%;
  }
}