:root {
  --clr-ucl-darkblue: #00004b;
  --clr-ucl-blue: #0d3aff;
  --clr-ucl-white: #ffffff;
  --clr-ucl-lightcyan: #5af7dc;
  --clr-ucl-pink: #ff16ff;
  --clr-ucl-grey: #c1c2d5;
  --clr-ucl-text: #30316e;
  --clr-ucl-background: #f1f3f8;

  --clr-3clr-gradient: linear-gradient(
    to left top,
    #ff16ff,
    #c91de1,
    #961cc1,
    #67169e,
    #3b0e7b,
    #2b2584,
    #173589,
    #00418c,
    #0070b6,
    #009ecf,
    #00cbda,
    #5af7dc
  );

  --font-family-primary: "Segoe UI", Arial, sans-serif;

  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--semibold: 500;
  --font-weight--bold: 700;
}

::selection {
  background-color: var(--clr-ucl-darkblue);
  color: var(--clr-ucl-white);
}

/* Homepage Basic Design */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-ucl-darkblue);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

@media (max-width: 639px) {
  .split > div:last-child > h2 {
    margin-top: 1em;
  }
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header,
section {
  padding: 3rem 0;
}

@media (min-width: 40em) {
  header,
  section {
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 120.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

.underline {
  margin-bottom: 1em;
}

.container_split-audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ucl_anthem {
  width: 100%;
}

@media (max-width: 639px) {
  .container_split-audio {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
  }
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

@media (max-width: 1500px) and (min-width: 620px) {
  .container .split.split-trophy {
    flex-direction: column;
  }

  .container .split.split-trophy > * {
    margin: 0;
  }

  .container .split.split-trophy > :first-child {
    margin-bottom: 2em;
  }

}

.container--narrow {
  max-width: 34rem;
}

/*quote*/

.quotes {
  display: flex;
  flex-direction: row;
  margin-top: 2.5em;
}

.quotes > * {
  flex-basis: 100%;
}

.quotes > *:not(:last-child) {
  margin-right: 2em;
}

.quote {
  background-color: var(--clr-ucl-white);
  color: var(--clr-ucl-text);
  overflow: hidden;

  transition: 0.5s;
  z-index: 2;
  padding: 30px;

  box-shadow: -10px 25px 50px rgba(255 255 255 / 0.3);
}

.quote > q {
  display: block;
  min-height: min(70%, 120.5rem);
}

.quotes .quote > h2 {
  color: var(--clr-ucl-text);
  font-weight: var(--font-weight--bold);
  padding-top: 3rem;
  margin: 0;
}

.quote:hover {
  box-shadow: -20px 50px 100px rgba(255 255 255 / 0.5);
}

@media (max-width: 998px) {
  .quotes {
    flex-direction: column;
  }
  .quotes > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5em;
  }
}

/*tweet*/

.wrapper-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5em 0 0 0;
}

.wrapper-tweet > * {
  flex-basis: 100%;
}

.iframe-twitter {
  width: 100%;
}

@media (max-width: 400px) {
  .wrapper-tweet {
    overflow: scroll;
  }
}

/*footer*/

footer {
  background: var(--clr-ucl-darkblue);
  color: var(--clr-ucl-white);

  padding-top: 40px;
  width: 100vw;
  height: auto;
  margin-top: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  color: var(--clr-ucl-white);
  font-size: 1.8rem;
  font-weight: var(--font-weight--regular);
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 2rem;
  line-height: 28px;
  font-size: 14px;
}

.footer-highlighted {
  color: orange;
}

.footer-bottom {
  background: var(--clr-ucl-text);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  margin-top: 1em;
  margin-bottom: 0;
}

.footer-bottom code {
  opacity: 0.4;
  font-weight: 200;
}

/*different background-styles*/

.bg-cyan {
  background-color: var(--clr-ucl-lightcyan);
  color: var(--clr-ucl-darkblue);
}

.bg-dark {
  background-color: var(--clr-ucl-darkblue);
  color: var(--clr-ucl-white);
}

.bg-light {
  background-color: var(--clr-ucl-white);
  color: var(--clr-ucl-darkblue);
}

.bg-gradient {
  background-image: var(--clr-3clr-gradient);
  color: var(--clr-ucl-white);
}

.bg-gradient h2 {
  color: var(--clr-ucl-lightcyan);
}

.bg-dark h2 {
  color: var(--clr-ucl-white);
}

.bg-light h2,
.bg-cyan h2 {
  color: var(--clr-ucl-darkblue);
}

/* primary navigation */

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.text-dark {
  color: var(--clr-ucl-darkblue);
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.primary-navigation > *,
.mobile-nav-toggle {
  cursor: pointer;
  position: relative;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  align-items: center;
  justify-content: space-between;

  background: hsl(240 100% 15% / 1);
}

.primary-navigation .text-dark {
  color: var(--clr-ucl-white);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }

  .primary-navigation .text-dark {
    color: var(--clr-ucl-darkblue);
  }
}

.primary-navigation .nav-link {
  text-decoration: none;
  color: var(--clr-ucl-darkblue);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -0.5em;
  width: 100%;
  height: 3px;
  background-color: currentColor;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.nav-link:not(.active)::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -0.5em;
  width: 100%;
  height: 3px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.primary-navigation .nav-link > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;

    align-items: flex-start;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(../images/icons8-menü-24.png);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-color: transparent;
    background-image: url(../images/icons8-löschen-24.png);
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation .nav-link > span[aria-hidden] {
    display: none;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 10rem);
  }
}

/*Styling Tags*/

abbr[title] {
  position: relative;
  text-decoration: underline dotted;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);

  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  background-color: var(--clr-ucl-grey);
  color: var(--clr-ucl-text);
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 3px 5px;
}

.semi-bold {
  font-weight: var(--font-weight--semibold);
}

.bold {
  font-weight: var(--font-weight--bold);
}

/*Scroll to Top Button*/

.scrollTopBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;

  background-image: url(../images/upArrow.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;

  border-radius: 50%;
  border: 2px solid black;
  background-color: white;

  cursor: pointer;
}

@supports (backdrop-filter: blur(1rem)) {
  .transparent-look {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);

    background-image: url(../images/upArrow.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    border: transparent;
  }
}

@media (max-width: 35em) {
  .scrollTopBtn,
  .transparent-look {
    right: 2px;
    height: 55px;
    width: 55px;
    background-size: 35px;
  }
}